{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Leak Map{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <aside>
        <img src="{% static 'main/img/logo.png' %}" alt="">

        <h1>Карта информационных утечек</h1>

        <ul>
            <li><a href="{% url 'check_leaks' %}">проверить утечку</a></li>
            <li><a href="{% url 'export_report' %}">Export Report</a></li>
        </ul>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
</body>
</html>
