{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Leak Map{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.6.0/css/all.css">
</head>
<body>
    <aside>
        <img src="{% static 'main/img/logo.png' %}" alt="">

        <h1>Карта информационных утечек</h1>

    <ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'feedback' %}">Оставить отзыв</a></li>
            <li><a href="{% url 'view_feedback' %}">Просмотреть отзывы</a></li>
            <li><a href="{% url 'generate_report' %}">Сгенерировать отчет</a></li>
            <li><a href="{% url 'create_ticket' %}">Создать тикет поддержки</a></li>
            <li><a href="{% url 'view_tickets' %}">Просмотреть тикеты</a></li>
        </ul>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
</body>
</html>
