{% extends "leaksmap/base.html" %}

{% block title %}Сгенерировать отчет{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Сгенерировать отчет</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Введите ваш email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="format" class="form-label">Формат отчета:</label>
                <select class="form-select" id="format" name="format">
                    <option value="pdf">PDF</option>
                    <option value="html">HTML</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Сгенерировать</button>
        </form>
    </div>
{% endblock %}
