{% extends "leaksmap/base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Добро пожаловать в Карту информационных утечек!</h1>
        <p class="lead">Ваш надежный помощник в мониторинге и защите от утечек данных</p>
        <hr class="my-4">
        <p>Используйте наше приложение для проверки утечек, генерации отчетов и получения поддержки.</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header bg-success text-white">
                    <h2 class="card-title">Проверка утечек</h2>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'home' %}">
                        {% csrf_token %}
                        <h2>Проверка утечек</h2>
                        <label for="{{ check_form.email.id_for_label }}">Введите ваш email:</label>
                        {{ check_form.email }}
                        <button type="submit" name="check_breaches">
                            Проверить утечки
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <h2 class="card-title">Экспорт отчета</h2>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'home' %}">
                        {% csrf_token %}
                        <h2>Экспорт отчета</h2>
                        <p>
                            {{ export_form.email.label_tag }} {{ export_form.email }}
                        </p>
                        <p>
                            {{ export_form.format.label_tag }} {{ export_form.format }}
                        </p>
                        <button type="submit" name="export_report">
                            Экспортировать отчет
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    ['check-leaks-form', 'export-report-form'].forEach(function(formId) {
        const form = document.getElementById(formId);
        form.addEventListener('submit', function(event) {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        }, false);
    });
});
</script>
{% endblock %}
