{% extends "leaksmap/base.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Профиль пользователя</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ profile.user.username|escape }}</h5>
                <p class="card-text"><strong>Биография:</strong> {{ profile.bio|default:"Не указано"|escape }}</p>
                <p class="card-text"><strong>Аватар:</strong> {% if profile.avatar %}<img src="{{ profile.avatar.url }}" width="100" height="100">{% else %}Не указан{% endif %}</p>
                <a href="{% url 'edit_profile' %}" class="btn btn-primary">Редактировать профиль</a>
            </div>
        </div>
    </div>
{% endblock %}
