{% extends "leaksmap/base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
    <h1>Settings</h1>
    <form method="post">
        {% csrf_token %}
        <label for="notification_enabled">Enable Notifications:</label>
        <input type="checkbox" id="notification_enabled" name="notification_enabled" {% if user_settings.notification_enabled %}checked{% endif %}>
        <label for="dark_mode">Enable Dark Mode:</label>
        <input type="checkbox" id="dark_mode" name="dark_mode" {% if user_settings.dark_mode %}checked{% endif %}>
        <button type="submit">Save</button>
    </form>
    {% if success %}
    <p style="color: green;">Settings updated successfully!</p>
    {% endif %}
{% endblock %}
