{% extends "leaksmap/base.html" %}

{% block title %}Просмотреть тикеты{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Просмотреть тикеты</h1>
        <ul class="list-group">
            {% for ticket in tickets %}
                <li class="list-group-item">
                    <h5>{{ ticket.title|escape }}</h5>
                    <p>{{ ticket.description|escape|linebreaks }}</p>
                    <small class="text-muted">Статус: {{ ticket.get_status_display|escape }} - Создан: {{ report.generated_at|date:"d.m.Y H:i" }}</small>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
