{% extends "leaksmap/base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Регистрация</h1>
<form method="post" novalidate>
            {% csrf_token %}
            <div>
                <label for="id_username">Username:</label>
                <input type="text" name="username" id="id_username" required>
            </div>
            <div>
                <label for="id_email">Email:</label>
                <input type="email" name="email" id="id_email" required>
            </div>
            <div>
                <label for="id_password1">Password:</label>
                <input type="password" name="password1" id="id_password1" required>
            </div>
            <div>
                <label for="id_password2">Confirm Password:</label>
                <input type="password" name="password2" id="id_password2" required>
            </div>
<button type="submit" class="btn btn-primary">Зарегистрироваться</button>
{% for field in form %}
    {% if field.errors %}
        <div class="alert alert-danger">
            {{ field.errors }}
        </div>
    {% endif %}
{% endfor %}
        </form>
    </div>
{% endblock %}
